In [48]:
# 초기 설정
from IPython.core.display import display, HTML
display(HTML("<style>.container { width: 100% !important; }</style>"))
pd.set_option("display.max_columns", 40)
import missingno as msno
%matplotlib inline

import pprint

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime

##### 하단 정제 데이터 부분에서 모델 돌리세용 ######

##### 변수 추가

In [ ]:
#BABIP
sdata['BABIP'] = (sdata['안타'] - sdata['홈런'])/(sdata['타수'] -sdata['삼진']-sdata['홈런'] -sdata['희비'])

In [ ]:
#외국인
import re
names = sdata.이름.unique()
sdata['외국인'] = None
for name in names:
    if re.findall('[에, 브, 워, 대, 피, 히, 버, 러, 칸, 루, 필, 파, 스, 아,마, 가, 초, 모, 로, 발, 번, 테, 호]', name[0]):
        sdata['외국인'][sdata['이름'] == name] = 1
    else:
        sdata['외국인'][sdata['이름'] == name] = 0
        
        
a = ['나바로', '조쉬벨', '고메즈']
for name in a:
    sdata['외국인'][sdata['이름'] == name] = 1

In [ ]:
# 나이 컬럼화
sdata['나이C'] = sdata.나이.apply(lambda x : 0 if x <= 23 else x)
sdata['나이C'] = sdata.나이C.apply(lambda x : 1 if 26 >= x > 23 else x)
sdata['나이C'] = sdata.나이C.apply(lambda x : 2 if 33 >= x >26 else x)
sdata['나이C'] = sdata.나이C.apply(lambda x : 3 if 37 >= x >33 else x)
sdata['나이C']= sdata.나이C.apply(lambda x : 4 if 40 >= x > 37 else x) 
sdata['나이C']= sdata.나이C.apply(lambda x : 5 if x >= 40 else x)

In [ ]:
# 이적
sdata['이적'] = None
for x in df['이름']:
    sdata['이적'][sdata['이름'] == x] = len(sdata[sdata['이름'] == x]['팀'].unique())

In [ ]:
df['이적C'] = df.이적.apply(lambda x: 0 if x == 1 else x)
df['이적C'] = df.이적.apply(lambda x: 1 if x == 2 else x)
df['이적C'] = df.이적.apply(lambda x: 2 if x == 3 else x)
df['이적C'] = df.이적.apply(lambda x: 3 if x >= 3 else x)

In [2]:
sdata.columns

Index(['ID', '이름', '시즌', '팀', '포지션', '나이', 'G', '타석', '타수', '득점', '안타', '타1',
       '타2', '타3', '홈런', '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살',
       '희타', '희비', '타율', '출루', '장타', 'OPS', 'wOBA', 'wRC', 'twoBLUCK',
       'threeBLUCK', 'ISO', 'BBK', 'ISOD', '연봉', '횟수', '경험'],
      dtype='object')

#### 정제 데이터 넣고 돌리는 부분

In [61]:
test = pd.read_csv('test_datas0402.csv')
train = pd.read_csv('train_datas0402.csv')

In [50]:
#sdata

,ID,이름,시즌,팀,포지션,나이,G,타석,타수,득점,안타,타1,타2,타3,홈런,루타,타점,도루,도실,볼넷,...,타율,출루,장타,OPS,wOBA,wRC,twoBLUCK,threeBLUCK,ISO,BBK,ISOD,연봉,횟수,경험,BABIP,로그연봉,외국인,나이C,이적,이적C
0,1,이대호,2019,롯데,DH,38,135.0,549.0,485.0,48.0,138.0,98.0,23.0,1.0,16.0,211.0,88.0,0.0,0.0,48.0,...,0.285,0.355,0.435,0.790,0.360,118.3,0.056931,0.002475,0.150,0.030965,0.070,250000.0,1,0,0.307305,12.429216,0,4,1,0
1,3,박석민,2019,NC,3B,35,112.0,444.0,360.0,49.0,96.0,59.0,17.0,1.0,19.0,172.0,74.0,1.0,2.0,65.0,...,0.267,0.393,0.478,0.871,0.393,139.3,0.062500,0.003676,0.211,0.009009,0.126,75000.0,1,0,0.286245,11.225243,0,3,1,0
2,4,박병호,2019,키움,1B,34,122.0,532.0,432.0,92.0,121.0,66.0,22.0,0.0,33.0,242.0,98.0,0.0,1.0,78.0,...,0.280,0.399,0.560,0.959,0.422,165.8,0.078014,0.000000,0.280,0.073308,0.119,150000.0,1,0,0.322344,11.918391,0,3,1,0
3,5,최형우,2019,KIA,DH,37,136.0,555.0,456.0,65.0,137.0,88.0,31.0,1.0,17.0,221.0,86.0,0.0,1.0,85.0,...,0.300,0.413,0.485,0.897,0.406,150.3,0.085635,0.002762,0.185,-0.014414,0.113,150000.0,1,0,0.338028,11.918391,0,3,1,0
4,6,서건창,2019,키움,2B,31,113.0,486.0,426.0,67.0,128.0,100.0,23.0,3.0,2.0,163.0,41.0,17.0,3.0,49.0,...,0.300,0.373,0.383,0.755,0.352,112.6,0.061497,0.008021,0.083,0.002058,0.073,35000.0,1,0,0.341463,10.463103,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,206,문규현,2019,롯데,3B,37,40.0,72.0,64.0,7.0,16.0,14.0,2.0,0.0,0.0,18.0,10.0,0.0,0.0,3.0,...,0.250,0.271,0.281,0.553,0.250,43.9,0.037037,0.000000,0.031,0.097222,0.021,18000.0,1,0,0.313725,9.798127,0,3,1,0
78,232,김민식,2019,KIA,C,31,53.0,116.0,96.0,6.0,16.0,14.0,2.0,0.0,0.0,18.0,14.0,2.0,0.0,15.0,...,0.167,0.293,0.188,0.481,0.249,42.3,0.029851,0.000000,0.021,0.120690,0.126,14000.0,1,0,0.246154,9.546813,0,2,1,0
79,247,류지혁,2019,두산,SS,26,118.0,316.0,276.0,36.0,69.0,61.0,6.0,2.0,0.0,79.0,34.0,18.0,5.0,24.0,...,0.250,0.323,0.286,0.609,0.289,69.9,0.025424,0.008475,0.036,0.050633,0.073,12500.0,1,0,0.296137,9.433484,0,1,1,0
80,255,정진호,2019,두산,RF,32,66.0,110.0,96.0,13.0,20.0,19.0,0.0,0.0,1.0,23.0,3.0,5.0,2.0,11.0,...,0.208,0.290,0.240,0.529,0.254,47.1,0.000000,0.000000,0.032,0.118182,0.082,11300.0,1,0,0.267606,9.332558,0,2,1,0
81,274,최원준,2019,KIA,3B,23,90.0,255.0,232.0,33.0,46.0,31.0,11.0,3.0,1.0,66.0,18.0,8.0,4.0,16.0,...,0.198,0.261,0.284,0.545,0.256,46.6,0.061111,0.016667,0.086,0.137255,0.063,10000.0,1,0,0.251397,9.210340,0,0,1,0

In [59]:
#train = sdata[(sdata['시즌'] <= 2018)]
#test = sdata[(sdata['시즌'] == 2019)]

In [62]:
train

,ID,이름,시즌,팀,포지션,나이,G,타석,타수,득점,안타,타1,타2,타3,홈런,루타,타점,도루,도실,볼넷,...,타율,출루,장타,OPS,wOBA,wRC,twoBLUCK,threeBLUCK,ISO,BBK,ISOD,연봉,횟수,경험,BABIP,로그연봉,외국인,나이C,이적,이적C
0,0,테임즈,2014,NC,1B,29,125.0,514.0,443.0,95.0,152.0,79.0,30.0,6.0,37.0,305.0,121.0,11.0,2.0,58.0,...,0.343,0.422,0.688,1.111,0.464,168.3,0.097720,0.019544,0.345,0.079767,0.079,25000.0,1,0,0.382060,10.126631,1,2,1,0
1,0,테임즈,2015,NC,1B,30,142.0,595.0,472.0,130.0,180.0,86.0,42.0,5.0,47.0,373.0,140.0,40.0,8.0,103.0,...,0.381,0.498,0.790,1.288,0.530,222.3,0.125749,0.014970,0.409,-0.020168,0.117,125000.0,2,1,0.406728,11.736069,1,2,1,0
2,0,테임즈,2016,NC,1B,31,123.0,529.0,436.0,118.0,140.0,67.0,30.0,3.0,40.0,296.0,121.0,13.0,4.0,74.0,...,0.321,0.427,0.679,1.106,0.463,170.5,0.102389,0.010239,0.358,0.054820,0.106,125000.0,3,2,0.349650,11.736069,1,2,1,0
3,1,이대호,2010,롯데,3B,29,127.0,552.0,478.0,99.0,174.0,117.0,13.0,0.0,44.0,319.0,133.0,0.0,2.0,61.0,...,0.364,0.444,0.667,1.111,0.482,192.4,0.036415,0.000000,0.303,0.028986,0.080,39000.0,1,0,0.367232,10.571317,0,2,1,0
4,1,이대호,2011,롯데,1B,30,133.0,570.0,493.0,76.0,176.0,122.0,26.0,1.0,27.0,285.0,113.0,2.0,0.0,63.0,...,0.357,0.433,0.578,1.011,0.455,180.0,0.064039,0.002463,0.221,-0.005263,0.076,63000.0,2,1,0.372500,11.050890,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,379,박기혁,2010,롯데,SS,30,48.0,166.0,153.0,10.0,33.0,30.0,3.0,0.0,0.0,36.0,13.0,2.0,0.0,6.0,...,0.216,0.248,0.235,0.484,0.225,22.8,0.022222,0.000000,0.019,0.072289,0.032,12000.0,1,0,0.246269,9.392662,0,2,1,0
481,885,워스,2017,SK,DH,33,3.0,11.0,9.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,...,0.111,0.273,0.111,0.384,0.217,12.4,0.000000,0.000000,0.000,0.000000,0.162,70000.0,1,0,0.142857,11.156251,1,2,1,0
482,941,루츠,2015,두산,3B,30,8.0,30.0,27.0,2.0,3.0,2.0,0.0,0.0,1.0,6.0,3.0,0.0,0.0,2.0,...,0.111,0.167,0.222,0.389,0.175,-8.2,0.000000,0.000000,0.111,0.133333,0.056,55000.0,1,0,0.105263,10.915088,1,2,1,0
483,950,모넬,2017,kt,1B,32,28.0,105.0,85.0,10.0,14.0,8.0,4.0,0.0,2.0,24.0,9.0,2.0,1.0,17.0,...,0.165,0.305,0.282,0.587,0.276,50.2,0.072727,0.000000,0.117,0.104762,0.140,45000.0,1,0,0.226415,10.714418,1,2,1,0
484,952,파레디스,2018,두산,RF,31,21.0,71.0,65.0,7.0,9.0,5.0,2.0,1.0,1.0,16.0,4.0,1.0,0.0,4.0,...,0.138,0.197,0.246,0.443,0.191,-2.4,0.042553,0.021277,0.108,0.183099,0.059,70000.0,1,0,0.173913,11.156251,1,2,1,0

In [63]:
import statsmodels.api as sm
model = sm.OLS.from_formula('연봉 ~  np.log(나이) +  scale(np.log(G)) + scale(타석) + np.log(scale(안타)) +  (np.log(볼넷)) + \
                            (np.log(사구)) + scale(고4) + scale(np.log(삼진)) + np.log(병살) +\
                            np.log(scale(희타)) + scale(희비)  + np.log((twoBLUCK)) + np.log(scale(threeBLUCK)) + (scale(ISO)) +\
                            np.log(scale(ISOD)) ' , data=train)
# model = sm.OLS.from_formula('연봉 ~ ' + '+'.join(s_col) , data=train)
result = model.fit()
#print(result.summary())

In [24]:
train.columns

Index(['ID', '이름', '시즌', '팀', '포지션', '나이', 'G', '타석', '타수', '득점', '안타', '타1',
       '타2', '타3', '홈런', '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살',
       '희타', '희비', '타율', '출루', '장타', 'OPS', 'wOBA', 'wRC', 'twoBLUCK',
       'threeBLUCK', 'ISO', 'BBK', 'ISOD', '연봉', '횟수', '경험', 'BABIP', '로그연봉',
       '외국인', '나이C', '이적', '이적C'],
      dtype='object')

In [25]:

train_x = train[['시즌', '팀', '포지션', '나이', 'G', '타석', '타수', '득점', '안타', '타1',
       '타2', '타3', '홈런', '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살',
       '희타', '희비', '타율', '출루', '장타', 'OPS', 'wOBA', 'wRC', 'twoBLUCK',
       'threeBLUCK', 'ISO', 'BBK', 'ISOD', '횟수', '경험', 'BABIP', 
       '외국인', '나이C', '이적', '이적C']]
train_y = train[['연봉']]
train_y_log = train[['로그연봉']]

test_x = test[['시즌', '팀', '포지션', '나이', 'G', '타석', '타수', '득점', '안타', '타1',
       '타2', '타3', '홈런', '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살',
       '희타', '희비', '타율', '출루', '장타', 'OPS', 'wOBA', 'wRC', 'twoBLUCK',
       'threeBLUCK', 'ISO', 'BBK', 'ISOD', '횟수', '경험', 'BABIP', 
       '외국인', '나이C', '이적', '이적C']]
test_y = test[['연봉']]
test_y_log = test['로그연봉']

In [64]:
#col2 = ['시즌', '나이',  'G', '타석',   '도실', '볼넷',\
#        '사구', '고4', '삼진', '병살', '희타', '희비', '타율',   'WAR', 'twoBLUCK',\
#        'threeBLUCK', 'ISO',  'ISOD']
#s_col = [f'scale({c})' for c in col2]
model = sm.OLS.from_formula('연봉 ~  G' , data=train)
# model = sm.OLS.from_formula('연봉 ~ ' + '+'.join(s_col) , data=train)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     연봉   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.036
Method:                 Least Squares   F-statistic:                     18.94
Date:                Thu, 02 Apr 2020   Prob (F-statistic):           1.65e-05
Time:                        21:07:15   Log-Likelihood:                -5723.5
No. Observations:                 485   AIC:                         1.145e+04
Df Residuals:                     483   BIC:                         1.146e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2.317e+04   4989.912      4.644      0.000    1.34e+04     3.3e+04
G            197.9022     45.471      4.352      0.000     108.558     287.247
==============================================================================
Omnibus:                      236.282   Durbin-Watson:                   0.959
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1347.008
Skew:                           2.098   Prob(JB):                    3.17e-293
Kurtosis:                      10.004   Cond. No.                         373.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

##### 1. 전체 모형

In [69]:
model = sm.OLS.from_formula('연봉 ~  나이+ G+ 타석+ 타수+ 득점+ 안타+ 타1+ 타2+ 타3+\
                                홈런+ 루타+ 타점+ 도루+ 도실+ 볼넷+ 사구+ 고4+ 삼진+ 병살+  희타+ 희비+ \
                                타율+ 출루+ 장타+ OPS+ wOBA+ wRC+ twoBLUCK+ threeBLUCK+ ISO+ BBK+ ISOD+ 횟수+\
                                경험 + BABIP+외국인+ 나이C+ 이적+ 이적C', data=train)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     연봉   R-squared:                       0.547
Model:                            OLS   Adj. R-squared:                  0.513
Method:                 Least Squares   F-statistic:                     15.99
Date:                Thu, 02 Apr 2020   Prob (F-statistic):           1.02e-57
Time:                        21:12:14   Log-Likelihood:                -5540.8
No. Observations:                 485   AIC:                         1.115e+04
Df Residuals:                     450   BIC:                         1.130e+04
Df Model:                          34
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -6.651e+04   1.74e+04     -3.825      0.000   -1.01e+05   -3.23e+04
나이          3553.3862    743.938      4.776      0.000    2091.362    5015.411
G           -441.4748    121.122     -3.645      0.000    -679.510    -203.439
타석         -5611.1595   6847.867     -0.819      0.413   -1.91e+04    7846.608
타수          5788.4290   6847.721      0.845      0.398   -7669.053    1.92e+04
득점          -293.1761    155.705     -1.883      0.060    -599.174      12.822
안타           -56.8339    138.074     -0.412      0.681    -328.183     214.515
타1            -4.4633    249.702     -0.018      0.986    -495.190     486.263
타2           103.4887    542.844      0.191      0.849    -963.334    1170.312
타3          -517.8702   1319.486     -0.392      0.695   -3110.990    2075.250
홈런           362.0110    721.023      0.502      0.616   -1054.980    1779.002
루타            96.9474    204.903      0.473      0.636    -305.739     499.634
타점            46.4028    145.760      0.318      0.750    -240.051     332.857
도루           135.9134    203.509      0.668      0.505    -264.034     535.860
도실          -345.3943    519.066     -0.665      0.506   -1365.489     674.700
볼넷          5739.3244   6851.651      0.838      0.403   -7725.881    1.92e+04
사구          6753.8300   6875.838      0.982      0.327   -6758.908    2.03e+04
고4          2289.8764    612.862      3.736      0.000    1085.450    3494.303
삼진          -394.2455    149.302     -2.641      0.009    -687.662    -100.829
병살           611.3243    334.167      1.829      0.068     -45.398    1268.047
희타          4752.4955   6867.252      0.692      0.489   -8743.368    1.82e+04
희비          4739.7652   6881.625      0.689      0.491   -8784.346    1.83e+04
타율         -2.032e+06   1.06e+06     -1.910      0.057   -4.12e+06     5.9e+04
출루         -2.856e+06   1.59e+06     -1.795      0.073   -5.98e+06    2.71e+05
장타         -3.028e+06   1.59e+06     -1.904      0.057   -6.15e+06    9.68e+04
OPS         4.275e+06   2.12e+06      2.020      0.044    1.16e+05    8.43e+06
wOBA       -6.876e+05   2.49e+05     -2.757      0.006   -1.18e+06   -1.97e+05
wRC         -200.9255    100.065     -2.008      0.045    -397.578      -4.273
twoBLUCK   -9.476e+04   1.41e+05     -0.671      0.503   -3.72e+05    1.83e+05
threeBLUCK -1028.5482   5.09e+05     -0.002      0.998      -1e+06    9.98e+05
ISO        -9.964e+05    5.3e+05     -1.881      0.061   -2.04e+06    4.45e+04
BBK         5.045e+04   3.99e+04      1.263      0.207    -2.8e+04    1.29e+05
ISOD       -8.245e+05   5.32e+05     -1.550      0.122   -1.87e+06    2.21e+05
횟수           196.3755   1454.697      0.135      0.893   -2662.467    3055.218
경험          3219.8066   1390.507      2.316      0.021     487.113    5952.500
BABIP        1.39e+05   6.38e+04      2.179      0.030    1.36e+04    2.64e+05
외국인         2.012e+04   4516.897      4.454      0.000    1.12e+04     2.9e+04
나이C        -9990.4196   3264.044     -3.061      0.002   -1.64e+04   -3575.759
이적         -3.585e+04   8821.800     -4.063      0.000   -5.32e+04   -1.85e+04
이적C         3.066e+04   8661.814      3.540      0.000    1.36e+04    4.77e+04
==============================================================================
Omnibus:                      146.037   Durbin-Watson:                   1.332
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              516.480
Skew:                           1.354   Prob(JB):                    7.04e-113
Kurtosis:                       7.269   Cond. No.                     1.08e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.75e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [68]:
df = train
from sklearn.model_selection import KFold

scores = np.zeros(5)
cv = KFold(5, shuffle=True, random_state=0)
for i, (idx_train, idx_test) in enumerate(cv.split(df)):
    df_train = df.iloc[idx_train]
    df_test = df.iloc[idx_test]
    
    model = sm.OLS.from_formula('연봉 ~  나이+ G+ 타석+ 타수+ 득점+ 안타+ 타1+ 타2+ 타3+\
                                홈런+ 루타+ 타점+ 도루+ 도실+ 볼넷+ 사구+ 고4+ 삼진+ 병살+  희타+ 희비+ \
                                타율+ 출루+ 장타+ OPS+ wOBA+ wRC+ twoBLUCK+ threeBLUCK+ ISO+ BBK+ ISOD+ 횟수+\
                                경험 + BABIP+외국인+ 나이C+ 이적+ 이적C' , data=df_train)
    result = model.fit()
    
    pred = result.predict(df_test)
    rss = ((df_test.연봉 - pred) ** 2).sum()
    tss = ((df_test.연봉 - df_test.연봉.mean())** 2).sum()
    rsquared = 1 - rss / tss
    
    scores[i] = rsquared
    print("학습 R2 = {:.8f}, 검증 R2 = {:.8f}".format(result.rsquared, rsquared))

학습 R2 = 0.55592879, 검증 R2 = 0.45577089
학습 R2 = 0.55656713, 검증 R2 = 0.46154012
학습 R2 = 0.53599672, 검증 R2 = 0.53552159
학습 R2 = 0.56871605, 검증 R2 = 0.35868853
학습 R2 = 0.56080194, 검증 R2 = 0.43331498

#### 2. 모델2

In [77]:
model = sm.OLS.from_formula('로그연봉 ~ C(시즌) + 포지션 + scale(G) + C(팀) + scale(홈런) + scale(타3)\
                            + scale(타석) + scale(득점) + scale(사구) + scale(고4) + scale(도루)\
                            + scale(삼진) + scale(병살) + scale(희타) + scale(희비) + scale(타율) + 외국인\
                            + scale(OPS) + C(나이C):횟수', data=train)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   로그연봉   R-squared:                       0.647
Model:                            OLS   Adj. R-squared:                  0.608
Method:                 Least Squares   F-statistic:                     16.67
Date:                Thu, 02 Apr 2020   Prob (F-statistic):           8.64e-72
Time:                        21:35:21   Log-Likelihood:                -243.89
No. Observations:                 485   AIC:                             585.8
Df Residuals:                     436   BIC:                             790.8
Df Model:                          48
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         9.5062      0.218     43.608      0.000       9.078       9.935
C(시즌)[T.2011]    -0.0214      0.086     -0.249      0.804      -0.191       0.148
C(시즌)[T.2012]     0.0089      0.089      0.100      0.920      -0.166       0.183
C(시즌)[T.2013]     0.0247      0.092      0.267      0.790      -0.157       0.206
C(시즌)[T.2014]     0.1897      0.105      1.801      0.072      -0.017       0.397
C(시즌)[T.2015]     0.5346      0.108      4.953      0.000       0.322       0.747
C(시즌)[T.2016]     0.4753      0.118      4.013      0.000       0.243       0.708
C(시즌)[T.2017]     0.5632      0.114      4.956      0.000       0.340       0.786
C(시즌)[T.2018]     0.5286      0.113      4.698      0.000       0.307       0.750
포지션[T.2B]        -0.1015      0.093     -1.095      0.274      -0.284       0.081
포지션[T.3B]        -0.0295      0.081     -0.366      0.715      -0.188       0.129
포지션[T.C]          0.1176      0.088      1.338      0.182      -0.055       0.290
포지션[T.CF]         0.0156      0.093      0.168      0.866      -0.167       0.198
포지션[T.DH]         0.2055      0.080      2.575      0.010       0.049       0.362
포지션[T.LF]        -0.2349      0.086     -2.747      0.006      -0.403      -0.067
포지션[T.RF]         0.0527      0.079      0.666      0.505      -0.103       0.208
포지션[T.SS]        -0.0827      0.091     -0.906      0.365      -0.262       0.097
C(팀)[T.KIA]       0.3531      0.212      1.666      0.096      -0.063       0.770
C(팀)[T.LG]        0.5362      0.215      2.496      0.013       0.114       0.958
C(팀)[T.NC]        0.3713      0.217      1.707      0.088      -0.056       0.799
C(팀)[T.SK]        0.3995      0.211      1.890      0.059      -0.016       0.815
C(팀)[T.kt]        0.4113      0.233      1.761      0.079      -0.048       0.870
C(팀)[T.넥센]        0.3289      0.218      1.510      0.132      -0.099       0.757
C(팀)[T.두산]        0.3652      0.214      1.708      0.088      -0.055       0.785
C(팀)[T.롯데]        0.3748      0.215      1.745      0.082      -0.047       0.797
C(팀)[T.삼성]        0.3810      0.210      1.813      0.071      -0.032       0.794
C(팀)[T.한화]        0.4520      0.213      2.121      0.034       0.033       0.871
C(팀)[T.히어로즈]      0.5261      0.326      1.613      0.108      -0.115       1.167
scale(G)         -0.3008      0.073     -4.148      0.000      -0.443      -0.158
scale(홈런)         0.1319      0.062      2.130      0.034       0.010       0.254
scale(타3)        -0.0188      0.026     -0.723      0.470      -0.070       0.032
scale(타석)         0.4440      0.117      3.787      0.000       0.214       0.674
scale(득점)        -0.0710      0.080     -0.890      0.374      -0.228       0.086
scale(사구)         0.0216      0.027      0.803      0.423      -0.031       0.075
scale(고4)         0.0820      0.027      3.085      0.002       0.030       0.134
scale(도루)        -0.0272      0.033     -0.827      0.409      -0.092       0.037
scale(삼진)        -0.1526      0.041     -3.684      0.000      -0.234      -0.071
scale(병살)         0.0284      0.030      0.936      0.350      -0.031       0.088
scale(희타)        -0.0098      0.030     -0.331      0.741      -0.068       0.048
scale(희비)         0.0209      0.027      0.772      0.441      -0.032       0.074
scale(타율)        -0.0364      0.089     -0.408      0.684      -0.212       0.139
외국인               0.3457      0.095      3.658      0.000       0.160       0.531
scale(OPS)        0.0476      0.103      0.461      0.645      -0.155       0.250
C(나이C)[0]:횟수      0.0069      0.129      0.053      0.958      -0.248       0.261
C(나이C)[1]:횟수     -0.0115      0.049     -0.235      0.814      -0.107       0.084
C(나이C)[2]:횟수      0.0950      0.019      5.017      0.000       0.058       0.132
C(나이C)[3]:횟수      0.0874      0.015      5.692      0.000       0.057       0.118
C(나이C)[4]:횟수      0.0606      0.016      3.767      0.000       0.029       0.092
C(나이C)[5]:횟수      0.0716      0.027      2.644      0.008       0.018       0.125
==============================================================================
Omnibus:                       21.071   Durbin-Watson:                   1.170
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.642
Skew:                           0.501   Prob(JB):                     1.21e-05
Kurtosis:                       3.341   Cond. No.                         103.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [78]:
df = train
from sklearn.model_selection import KFold

scores = np.zeros(5)
cv = KFold(5, shuffle=True, random_state=0)
for i, (idx_train, idx_test) in enumerate(cv.split(df)):
    df_train = df.iloc[idx_train]
    df_test = df.iloc[idx_test]
    
    model = sm.OLS.from_formula('로그연봉 ~ C(시즌) + 포지션 + scale(G) + C(팀) + scale(홈런) + scale(타3)\
                            + scale(타석) + scale(득점) + scale(사구) + scale(고4) + scale(도루)\
                            + scale(삼진) + scale(병살) + scale(희타) + scale(희비) + scale(타율) + 외국인\
                            + scale(OPS) + C(나이C):횟수' , data=df_train)
    result = model.fit()
    
    pred = result.predict(df_test)
    rss = ((df_test.로그연봉 - pred) ** 2).sum()
    tss = ((df_test.로그연봉 - df_test.로그연봉.mean())** 2).sum()
    rsquared = 1 - rss / tss
    
    scores[i] = rsquared
    print("학습 R2 = {:.8f}, 검증 R2 = {:.8f}".format(result.rsquared, rsquared))

학습 R2 = 0.65949481, 검증 R2 = 0.53668681
학습 R2 = 0.66369142, 검증 R2 = 0.46238439
학습 R2 = 0.65373213, 검증 R2 = 0.55063842
학습 R2 = 0.65665239, 검증 R2 = 0.53377046
학습 R2 = 0.65596735, 검증 R2 = 0.54717767

#### 3. 모델3

In [74]:
model = sm.OLS.from_formula('로그연봉 ~ C(시즌) +C(팀) + C(나이C):scale(횟수) + C(포지션) + scale(G) + scale(홈런) + scale(루타) +\
                            scale(도루) +scale(고4) + scale(타3) + C(외국인) + scale(BABIP) +C(이적C) + scale(ISOD) + \
                            scale(BBK) + scale(타율) + scale(경험)', data=train)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   로그연봉   R-squared:                       0.685
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     19.79
Date:                Thu, 02 Apr 2020   Prob (F-statistic):           4.50e-82
Time:                        21:17:30   Log-Likelihood:                -216.09
No. Observations:                 485   AIC:                             530.2
Df Residuals:                     436   BIC:                             735.2
Df Model:                          48
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept               9.9805      0.214     46.722      0.000       9.561      10.400
C(시즌)[T.2011]          -0.0463      0.081     -0.575      0.566      -0.205       0.112
C(시즌)[T.2012]          -0.0234      0.082     -0.284      0.776      -0.185       0.138
C(시즌)[T.2013]          -0.0477      0.087     -0.549      0.584      -0.219       0.123
C(시즌)[T.2014]           0.1030      0.103      0.999      0.319      -0.100       0.306
C(시즌)[T.2015]           0.4673      0.108      4.335      0.000       0.255       0.679
C(시즌)[T.2016]           0.4147      0.118      3.513      0.000       0.183       0.647
C(시즌)[T.2017]           0.5543      0.115      4.820      0.000       0.328       0.780
C(시즌)[T.2018]           0.5407      0.119      4.546      0.000       0.307       0.775
C(팀)[T.KIA]             0.3148      0.205      1.539      0.125      -0.087       0.717
C(팀)[T.LG]              0.4806      0.205      2.344      0.020       0.078       0.884
C(팀)[T.NC]              0.3174      0.209      1.516      0.130      -0.094       0.729
C(팀)[T.SK]              0.3036      0.203      1.494      0.136      -0.096       0.703
C(팀)[T.kt]              0.3953      0.221      1.788      0.075      -0.039       0.830
C(팀)[T.넥센]              0.3191      0.209      1.529      0.127      -0.091       0.729
C(팀)[T.두산]              0.3215      0.207      1.555      0.121      -0.085       0.728
C(팀)[T.롯데]              0.3133      0.207      1.513      0.131      -0.094       0.720
C(팀)[T.삼성]              0.2978      0.202      1.471      0.142      -0.100       0.696
C(팀)[T.한화]              0.3360      0.204      1.645      0.101      -0.065       0.737
C(팀)[T.히어로즈]            0.4105      0.312      1.315      0.189      -0.203       1.024
C(포지션)[T.2B]           -0.1262      0.086     -1.473      0.142      -0.295       0.042
C(포지션)[T.3B]            0.0125      0.073      0.171      0.864      -0.132       0.157
C(포지션)[T.C]             0.0729      0.084      0.863      0.388      -0.093       0.239
C(포지션)[T.CF]            0.0080      0.086      0.093      0.926      -0.161       0.177
C(포지션)[T.DH]            0.1919      0.075      2.570      0.010       0.045       0.339
C(포지션)[T.LF]           -0.2754      0.080     -3.451      0.001      -0.432      -0.119
C(포지션)[T.RF]           -0.0486      0.074     -0.653      0.514      -0.195       0.098
C(포지션)[T.SS]           -0.0323      0.084     -0.387      0.699      -0.196       0.132
C(외국인)[T.1]             0.3564      0.093      3.845      0.000       0.174       0.539
C(이적C)[T.1]            -0.0408      0.046     -0.891      0.373      -0.131       0.049
C(이적C)[T.2]            -0.3295      0.121     -2.728      0.007      -0.567      -0.092
C(이적C)[T.3]             0.3550      0.172      2.066      0.039       0.017       0.693
C(나이C)[0]:scale(횟수)     0.4617      0.182      2.533      0.012       0.104       0.820
C(나이C)[1]:scale(횟수)     0.7467      0.127      5.860      0.000       0.496       0.997
C(나이C)[2]:scale(횟수)     0.3913      0.067      5.842      0.000       0.260       0.523
C(나이C)[3]:scale(횟수)     0.2039      0.062      3.275      0.001       0.082       0.326
C(나이C)[4]:scale(횟수)     0.0257      0.066      0.388      0.698      -0.105       0.156
C(나이C)[5]:scale(횟수)     0.1430      0.116      1.231      0.219      -0.085       0.371
scale(G)               -0.2415      0.046     -5.212      0.000      -0.333      -0.150
scale(홈런)              -0.1310      0.063     -2.086      0.038      -0.254      -0.008
scale(루타)               0.4866      0.094      5.171      0.000       0.302       0.671
scale(도루)              -0.0344      0.027     -1.260      0.208      -0.088       0.019
scale(고4)               0.0785      0.025      3.169      0.002       0.030       0.127
scale(타3)              -0.0463      0.025     -1.869      0.062      -0.095       0.002
scale(BABIP)           -0.0122      0.032     -0.379      0.705      -0.076       0.051
scale(ISOD)             0.0315      0.025      1.278      0.202      -0.017       0.080
scale(BBK)             -0.0751      0.027     -2.797      0.005      -0.128      -0.022
scale(타율)              -0.0352      0.037     -0.961      0.337      -0.107       0.037
scale(경험)              -0.0679      0.063     -1.072      0.284      -0.192       0.057
==============================================================================
Omnibus:                       29.803   Durbin-Watson:                   1.166
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               37.281
Skew:                           0.535   Prob(JB):                     8.03e-09
Kurtosis:                       3.838   Cond. No.                         77.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [75]:
df = train
from sklearn.model_selection import KFold

scores = np.zeros(5)
cv = KFold(5, shuffle=True, random_state=0)
for i, (idx_train, idx_test) in enumerate(cv.split(df)):
    df_train = df.iloc[idx_train]
    df_test = df.iloc[idx_test]
    
    model = sm.OLS.from_formula('로그연봉 ~ C(시즌) +C(팀) + C(나이C):scale(횟수) + C(포지션) + scale(G) + scale(홈런) + scale(루타) +\
                            scale(도루) +scale(고4) + scale(타3) + C(외국인) + scale(BABIP) +C(이적C) + scale(ISOD) + \
                            scale(BBK) + scale(타율) + scale(경험)' , data=df_train)
    result = model.fit()
    
    pred = result.predict(df_test)
    rss = ((df_test.로그연봉 - pred) ** 2).sum()
    tss = ((df_test.로그연봉 - df_test.로그연봉.mean())** 2).sum()
    rsquared = 1 - rss / tss
    
    scores[i] = rsquared
    print("학습 R2 = {:.8f}, 검증 R2 = {:.8f}".format(result.rsquared, rsquared))

학습 R2 = 0.69761969, 검증 R2 = 0.61152107
학습 R2 = 0.70061104, 검증 R2 = 0.54803942
학습 R2 = 0.67896484, 검증 R2 = 0.66771108
학습 R2 = 0.69243782, 검증 R2 = 0.60517417
학습 R2 = 0.69336666, 검증 R2 = 0.60310650

#### 4. 모델 4

In [79]:
model = sm.OLS.from_formula('로그연봉 ~ C(시즌) + C(팀) + C(포지션) + G +\
                            홈런 + 루타 + 타석 + 득점 +\
                            도루 + 고4 + 타3 + 희타 + 희비 + 타율 + OPS +\
                            C(외국인) + C(나이C):횟수', data=train)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   로그연봉   R-squared:                       0.635
Model:                            OLS   Adj. R-squared:                  0.597
Method:                 Least Squares   F-statistic:                     16.56
Date:                Thu, 02 Apr 2020   Prob (F-statistic):           6.02e-70
Time:                        21:38:58   Log-Likelihood:                -252.23
No. Observations:                 485   AIC:                             598.5
Df Residuals:                     438   BIC:                             795.1
Df Model:                          46
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         9.4750      0.253     37.457      0.000       8.978       9.972
C(시즌)[T.2011]    -0.0473      0.087     -0.542      0.588      -0.219       0.124
C(시즌)[T.2012]    -0.0212      0.090     -0.236      0.814      -0.198       0.156
C(시즌)[T.2013]    -0.0244      0.093     -0.262      0.793      -0.207       0.158
C(시즌)[T.2014]     0.1264      0.107      1.186      0.236      -0.083       0.336
C(시즌)[T.2015]     0.4499      0.108      4.172      0.000       0.238       0.662
C(시즌)[T.2016]     0.4058      0.120      3.388      0.001       0.170       0.641
C(시즌)[T.2017]     0.4920      0.114      4.328      0.000       0.269       0.715
C(시즌)[T.2018]     0.4437      0.112      3.950      0.000       0.223       0.664
C(팀)[T.KIA]       0.4087      0.216      1.892      0.059      -0.016       0.833
C(팀)[T.LG]        0.5444      0.218      2.492      0.013       0.115       0.974
C(팀)[T.NC]        0.3786      0.221      1.713      0.087      -0.056       0.813
C(팀)[T.SK]        0.3992      0.215      1.859      0.064      -0.023       0.821
C(팀)[T.kt]        0.4654      0.236      1.975      0.049       0.002       0.929
C(팀)[T.넥센]        0.3628      0.222      1.634      0.103      -0.074       0.799
C(팀)[T.두산]        0.4419      0.218      2.025      0.043       0.013       0.871
C(팀)[T.롯데]        0.3894      0.219      1.782      0.075      -0.040       0.819
C(팀)[T.삼성]        0.4026      0.214      1.880      0.061      -0.018       0.824
C(팀)[T.한화]        0.5086      0.217      2.340      0.020       0.081       0.936
C(팀)[T.히어로즈]      0.5406      0.331      1.633      0.103      -0.110       1.191
C(포지션)[T.2B]     -0.0843      0.094     -0.897      0.370      -0.269       0.100
C(포지션)[T.3B]      0.0211      0.080      0.264      0.792      -0.136       0.178
C(포지션)[T.C]       0.1551      0.087      1.775      0.077      -0.017       0.327
C(포지션)[T.CF]      0.0347      0.094      0.369      0.713      -0.150       0.220
C(포지션)[T.DH]      0.2336      0.081      2.899      0.004       0.075       0.392
C(포지션)[T.LF]     -0.2306      0.087     -2.657      0.008      -0.401      -0.060
C(포지션)[T.RF]      0.0555      0.080      0.693      0.489      -0.102       0.213
C(포지션)[T.SS]     -0.0562      0.093     -0.607      0.544      -0.238       0.126
C(외국인)[T.1]       0.3681      0.095      3.870      0.000       0.181       0.555
G                -0.0103      0.002     -4.530      0.000      -0.015      -0.006
홈런               -0.0004      0.009     -0.045      0.964      -0.018       0.017
루타                0.0028      0.002      1.360      0.174      -0.001       0.007
타석                0.0015      0.001      1.815      0.070      -0.000       0.003
득점               -0.0020      0.003     -0.699      0.485      -0.008       0.004
도루               -0.0028      0.003     -0.824      0.411      -0.009       0.004
고4                0.0365      0.011      3.371      0.001       0.015       0.058
타3               -0.0261      0.018     -1.461      0.145      -0.061       0.009
희타                0.0019      0.006      0.293      0.769      -0.011       0.015
희비                0.0155      0.011      1.464      0.144      -0.005       0.036
타율               -0.3441      1.564     -0.220      0.826      -3.417       2.729
OPS               0.1804      0.581      0.310      0.756      -0.962       1.322
C(나이C)[0]:횟수     -0.0027      0.131     -0.021      0.983      -0.260       0.255
C(나이C)[1]:횟수     -0.0001      0.049     -0.003      0.998      -0.097       0.097
C(나이C)[2]:횟수      0.1031      0.019      5.373      0.000       0.065       0.141
C(나이C)[3]:횟수      0.0962      0.015      6.238      0.000       0.066       0.126
C(나이C)[4]:횟수      0.0674      0.016      4.171      0.000       0.036       0.099
C(나이C)[5]:횟수      0.0758      0.027      2.768      0.006       0.022       0.130
==============================================================================
Omnibus:                       20.133   Durbin-Watson:                   1.128
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               21.622
Skew:                           0.480   Prob(JB):                     2.02e-05
Kurtosis:                       3.386   Cond. No.                     4.14e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.14e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [80]:
df = train
from sklearn.model_selection import KFold

scores = np.zeros(5)
cv = KFold(5, shuffle=True, random_state=0)
for i, (idx_train, idx_test) in enumerate(cv.split(df)):
    df_train = df.iloc[idx_train]
    df_test = df.iloc[idx_test]
    
    model = sm.OLS.from_formula('로그연봉 ~ C(시즌) + C(팀) + C(포지션) + G +\
                            홈런 + 루타 + 타석 + 득점 +\
                            도루 + 고4 + 타3 + 희타 + 희비 + 타율 + OPS +\
                            C(외국인) + C(나이C):횟수' , data=df_train)
    result = model.fit()
    
    pred = result.predict(df_test)
    rss = ((df_test.로그연봉 - pred) ** 2).sum()
    tss = ((df_test.로그연봉 - df_test.로그연봉.mean())** 2).sum()
    rsquared = 1 - rss / tss
    
    scores[i] = rsquared
    print("학습 R2 = {:.8f}, 검증 R2 = {:.8f}".format(result.rsquared, rsquared))

학습 R2 = 0.65085263, 검증 R2 = 0.49514884
학습 R2 = 0.65990360, 검증 R2 = 0.40265988
학습 R2 = 0.63610197, 검증 R2 = 0.55490774
학습 R2 = 0.64067558, 검증 R2 = 0.53617170
학습 R2 = 0.64395462, 검증 R2 = 0.53501300